# Ignore backend and frontend build directories
backend/bin/
backend/target/
backend/Cargo.lock
frontend/bin/
frontend/target/
frontend/Cargo.lock


# Ignore OS-specific files
.DS_Store
Thumbs.db
# Ignore environment files
.env
.env.*
!.env.example

# Ignore token files
tokens.json
backend/tokens.json