*.zip
%.o
%.out
%.a
%.exe
%.test
%.prof
DISKUSDB/
_fcache/
bin/
obj/
_DARCSIGN_
DarcsPatchesDir/
DarcsTemporaryFile*
__pycache__/
env/
venv/
ENV/
env.bak/
venv.bak/
ENV.bak/
.venv
.installed.cfg
*.swp
*.un~
.DS_Store